# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/

# Environment variables / secrets
.env
.env.*
!.env.example

# Django logs
*.log

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
